#login .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50% !important;
  height: 100%;
  margin-bottom: 1rem;
}

form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

form .form-group input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin: 10px 0;
  background-color: #222222;
  font-size: 18px;
}

input:focus {
  outline: none;
}

.width-full {
  width: 35%;
}

.subtext {
  cursor: pointer;
}

.subtext:hover {
  text-decoration: underline;
}
