.container-full {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.ticker-name {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wishlist-icon {
  width: 100%;
  background-color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 100px;
  cursor: pointer;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: width 0.2s ease-in-out;
}

.left {
  width: 80%;
  margin-left: 10%;
}

.right {
  height: 70%;
  width: 30%;
  margin-right: 10%;
  margin-top: 4%;
}

.options {
  /* width: 100%; */
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.options .option {
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  padding: 0.5rem 0;
  border-radius: 100px;
}

.options .option.active {
  background-color: var(--accent-color);
}

.options .option:hover {
  background-color: var(--accent-color);
}

.buy-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.sell-form {
  margin-top: 1rem;
}

.buy-form .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.buy-form .form-group label {
  color: var(--text-color);
}

.form-group input,
.form-group select {
  width: 100%;
  height: 2rem;
  border: none;
  background-color: #222222;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.illegal {
  background-color: var(--danger-color) !important;
  cursor: not-allowed;
}

.banner {
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  animation: down 0.5s ease-in-out;
}

.banner .banner-content {
  width: 100%;
}

.banner .banner-content .banner-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner .banner-content .banner-text .banner-message {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@keyframes down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
